:root {
    font-family: 'Source Serif Pro',serif;
    --light: #E7ECEF;
    --dark: #272932;
}

/* Block */

.container {
    border: 0.1rem solid;
    padding: 0.1rem;
    margin: 0.1rem;
}

.card {
    border: 0.1rem solid;
    padding: 0.1rem;
    margin: 2.0rem;
}

/* Element */

.heading {
   
}

.card__heading {
   
}

.card__img {
    width: 250px;
}

.card__strength{
    
}

.card__likes {

}

.card__understanding {
    
}

.card__quote {

}

/* Modifier */

.card--dark {
    background-color: var(--dark);
    color: var(--light);
}

.card--light {
    background-color: var(--light);
    color: var(--dark);
}

.card--shadow {
    box-shadow: .5rem 1.0rem #888888;
}

.heading--center {
    text-align: center;
}

.card__heading--center {
    text-align: center;
}

.card_img--center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.card__strength--center {
    text-align: center;
}

.card__likes--center {
    text-align: center;
}

.card__understanding--center {
    text-align: center;
}

.card__quote--center {
    text-align: center;
}