:root {
    font-family: 'Source Serif Pro',serif;
    --light: #E7ECEF;
    --dark: #272932;
    --sith-active: #fa3131;
    --jedi-active: #3af50b;
    --sith-inactive: #611313;
    --jedi-inactive: #1b520e;
}

/* Block */

.container {
    padding: 0.1rem;
    margin: 0.1rem;
}

.card {
    border: 0.1rem solid;
    padding: 1.0rem;
    margin: 2.0rem;
}

/* Element */

.container_flex {
    display: flex;
}

.heading {
    font-size: 3.0rem;
}

.card__heading {
    font-size: 2.0rem;
}

.card__img {
    width: 250px;
}

.card__strength{
    font-size: 1.0rem;
}

.card__likes {
    font-size: 1.0rem;
}

.card__understanding {
    font-size: 1.0rem;
}

.card__button {
    display: inline-block;
    padding: 1.0rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: .5rem;
    box-shadow: .5rem .6rem #888888;
}

.card__button:active {
    box-shadow: 0 .5em #666;
    transform: translateY(.5em);
}

.card__quote {
    font-size: 1.0rem;
    font-style: italic;
    content: "'" attr(text) "'";
}

.card__quote::before {
    content: open-quote;
}

.card__quote::after {
    content: close-quote;
}


/* Modifier */

.container__flex--wrap {
    flex-wrap: wrap;
}

.container__flex--center {
    justify-content: center;
}

.card--dark {
    background-color: var(--dark);
    color: var(--light);
}

.card--light {
    background-color: var(--light);
    color: var(--dark);
}

.card--shadow {
    box-shadow: .5rem .6rem #888888;
}

.heading--center {
    text-align: center;
}

.card__heading--center {
    text-align: center;
}

.card_img--center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.card__strength--center {
    text-align: center;
}

.card__likes--center {
    text-align: center;
}

.card__understanding--center {
    text-align: center;
}

.card__quote--center {
    text-align: center;
}

.card__button--center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.card__button--sith {
    background-color: var(--sith-inactive);
}

.card__button--sith:active {
    background-color: var(--sith-active);
}

.card__button--jedi {
    background-color: var(--jedi-inactive);
}

.card__button--jedi:active {
    background-color: var(--jedi-active);
}