:root {
    font-family: 'Source Serif Pro',serif;
    --light: #E7ECEF;
    --dark: #272932;
}

/* Block */

.container {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
}

.card {
    border: 1px solid;
    padding: 10px;
    margin: 20px;
}

/* Element */

.heading {
   
}

.card__heading {
   
}

.card__img {
    width: 250px;
}

.card__strength{
    
}

.card__likes {

}

.card__understanding {
    
}

.card__quote {

}

/* Modifier */

.card--dark {
    background-color: var(--dark);
    color: var(--light);
}

.card--light {
    background-color: var(--light);
    color: var(--dark);
}

.card--shadow {
    box-shadow: 5px 10px #888888;
}